<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Hakkımızda</title>
    <link href="
    https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css
    " rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/output.css">
</head>
<body>
    <nav id="navbar" class="mx-auto w-full h-[90px] tablet:h-[54px] tablet:animate-none  sticky top-0 z-50 flex justify-center items-center transition-all duration-500">
        <div class="fixed top-0 left-0 w-full h-[54px] hidden tablet:flex items-center justify-start translate-x-0">
            <div id="menuToggle" class="tablet:grid top-[15px] z-10 w-auto hidden mx-5 left-[320px] phone-sm:left-[70vw]"> 
                <input type="checkbox" class="block w-[40px] h-[32px] absolute cursor-pointer opacity-0 z-20">
                <div id="closeMenu" class="fixed w-[100vw] h-[100vh] z-0 top-[-50px] left-0 content hidden"></div>
                 <span class="block w-[27px] h-[2px] relative bg-text-gray z-1 navMenuToggle hover:bg-flag-red"></span> 
                 <span class="block w-[27px] h-[2px] mt-2 relative bg-text-gray z-1 navMenuToggle hover:bg-flag-red hover:mt-3"></span> 
                 <span class="block w-[27px] h-[2px] mt-2 relative bg-text-gray z-1 navMenuToggle hover:bg-flag-red hover:mt-3"></span> 
            </div>
            <h1 id="navHeaderMobil" class="font-extrabold text-[28px] text-text-gray  no-underline hover:text-flag-red transition-colors ease-linear duration-100 phone-sm:text-[8vw]">Ekonomi Köşesi</h1>
        </div>
        <div id="navMenuContainer" class="h-full tablet:w-[320px] w-[1200px] mx-auto flex tablet:justify-start justify-between items-center border-b border-b-[rgba(0,0,0,0.2)] tablet:flex-col tablet:bg-mobile-menu-bg tablet:h-[100vh] tablet:fixed tablet:top-0 tablet:left-0 tablet:overflow-y-auto tablet:px-[20px] tablet:translate-x-[-100%] transition-transform duration-1000 ease-in-expo">
            <a href="anasayfa.html" id="navHeader" class="font-extrabold text-2xl text-text-gray tablet:text-white no-underline hover:text-flag-red transition-colors ease-linear duration-100 phone-sm:text-[8vw] tablet:leading-[54px] tablet:text-[2em] tablet:px-[2em] tablet:text-center tablet:pb-[0.5em]"><h1>Ekonomi Köşesi</h1></a>
            <div class="flex items-center tablet:flex-col tablet:w-full">
                <ul id="navMenu" class="items-center w-[840px] flex justify-end tablet:flex-col tablet:w-full tablet:before:h-[4px] tablet:before:w-[85px] tablet:before:bg-flag-red tablet:before:my-[1em] tablet:after:h-[4px] tablet:after:w-[85px] tablet:after:bg-flag-red  tablet:after:my-[1em]">
                    <li id="navMenuItem" class="pr-[50px] tablet:pr-0">
                        <a href="anasayfa.html" class=" text-text-gray tablet:text-white text-medium leading-[90px] relative block hover:text-flag-red transition-color ease-linear duration-100 tablet:py-[1em] tablet:px-[2em] tablet:leading-[1.1] ">Ana Sayfa</a>
                    </li>
                    <li id="navMenuItem" class="pr-[50px] tablet:pr-0">
                        <a href="" class=" text-text-gray tablet:text-white text-medium leading-[90px] relative block hover:text-flag-red transition-color ease-linear duration-100 tablet:py-[1em] tablet:px-[2em] tablet:leading-[1.1]">Gazete Manşetleri</a>
                    </li>
                    <li id="navMenuItem" class="pr-[50px] tablet:pr-0 tablet:flex tablet:flex-col tablet:items-center tablet:justify-center ">
                        <div id="news" class=" text-text-gray tablet:text-white text-medium leading-[90px] relative flex items-center tablet:justify-center">
                            <a href="kategori.html" class="hover:text-flag-red transition-color ease-linear duration-100 tablet:py-[1em] tablet:px-[2em] tablet:leading-[1.1]">Haberler</a>
                            <i id="newsSubToggleMobile" class="bx bx-chevron-down w-[10px] absolute right-[-25px] hidden tablet:block"></i>
                        </div>
                        <ul id="newsSubMenu" class="absolute tablet:relative tablet:hidden tablet:translate-y-[0px] tablet:pointer-events-auto tablet:text-center top-auto bg-white tablet:bg-transparent desktop:opacity-0 w-[220px] transition-all ease duration-500 translate-y-[20px] pointer-events-none shadow-[0_0_20px_rgba(0,0,0,0.6)] tablet:shadow-none">
                            <li class="text-xl tablet:text-[0.9em] tablet:leading-[1.1] font-normal text-text-gray tablet:text-white px-[1.5em] py-[1em] relative cursor-pointer desktop:after:bg-sub-menu-border desktop:after:h-[1px] desktop:after:block desktop:after:absolute desktop:after:bottom-0 desktop:after:left-[1.5em] desktop:after:right-[1.5em] desktop:hover:shadow-[inset_5px_0_0_0_#e62b34] desktop:hover:text-flag-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/magazin/" class="text-xl leading-[1.8]">Magazin</a></li>
                            <li class="text-xl tablet:text-[0.9em] tablet:leading-[1.1] font-normal text-text-gray tablet:text-white px-[1.5em] py-[1em] relative cursor-pointer desktop:after:bg-sub-menu-border desktop:after:h-[1px] desktop:after:block desktop:after:absolute desktop:after:bottom-0 desktop:after:left-[1.5em] desktop:after:right-[1.5em] desktop:hover:shadow-[inset_5px_0_0_0_#e62b34] desktop:hover:text-flag-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/dunya/" class="text-xl leading-[1.8]">Dünya</a></li>
                            <li class="text-xl tablet:text-[0.9em] tablet:leading-[1.1] font-normal text-text-gray tablet:text-white px-[1.5em] py-[1em] relative cursor-pointer desktop:after:bg-sub-menu-border desktop:after:h-[1px] desktop:after:block desktop:after:absolute desktop:after:bottom-0 desktop:after:left-[1.5em] desktop:after:right-[1.5em] desktop:hover:shadow-[inset_5px_0_0_0_#e62b34] desktop:hover:text-flag-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/spor/" class="text-xl leading-[1.8]">Spor</a></li>
                            <li class="text-xl tablet:text-[0.9em] tablet:leading-[1.1] font-normal text-text-gray tablet:text-white px-[1.5em] py-[1em] relative cursor-pointer desktop:after:bg-sub-menu-border desktop:after:h-[1px] desktop:after:block desktop:after:absolute desktop:after:bottom-0 desktop:after:left-[1.5em] desktop:after:right-[1.5em] desktop:hover:shadow-[inset_5px_0_0_0_#e62b34] desktop:hover:text-flag-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/egitim/" class="text-xl leading-[1.8]">Eğitim</a></li>
                            <li class="text-xl tablet:text-[0.9em] tablet:leading-[1.1] font-normal text-text-gray tablet:text-white px-[1.5em] py-[1em] relative cursor-pointer desktop:after:bg-sub-menu-border desktop:after:h-[1px] desktop:after:block desktop:after:absolute desktop:after:bottom-0 desktop:after:left-[1.5em] desktop:after:right-[1.5em] desktop:hover:shadow-[inset_5px_0_0_0_#e62b34] desktop:hover:text-flag-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/ekonomi/" class="text-xl leading-[1.8]">Ekonomi</a></li>
                            <li class="text-xl tablet:text-[0.9em] tablet:leading-[1.1] font-normal text-text-gray tablet:text-white px-[1.5em] py-[1em] relative cursor-pointer desktop:after:bg-sub-menu-border desktop:after:h-[1px] desktop:after:block desktop:after:absolute desktop:after:bottom-0 desktop:after:left-[1.5em] desktop:after:right-[1.5em] desktop:hover:shadow-[inset_5px_0_0_0_#e62b34] desktop:hover:text-flag-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/finans/" class="text-xl leading-[1.8]">Finans</a></li>
                            <li class="text-xl tablet:text-[0.9em] tablet:leading-[1.1] font-normal text-text-gray tablet:text-white px-[1.5em] py-[1em] relative cursor-pointer desktop:after:bg-sub-menu-border desktop:after:h-[1px] desktop:after:block desktop:after:absolute desktop:after:bottom-0 desktop:after:left-[1.5em] desktop:after:right-[1.5em] desktop:hover:shadow-[inset_5px_0_0_0_#e62b34] desktop:hover:text-flag-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/genel/" class="text-xl leading-[1.8]">Genel</a></li>
                            <li class="text-xl tablet:text-[0.9em] tablet:leading-[1.1] font-normal text-text-gray tablet:text-white px-[1.5em] py-[1em] relative cursor-pointer desktop:after:bg-sub-menu-border desktop:after:h-[1px] desktop:after:block desktop:after:absolute desktop:after:bottom-0 desktop:after:left-[1.5em] desktop:after:right-[1.5em] desktop:hover:shadow-[inset_5px_0_0_0_#e62b34] desktop:hover:text-flag-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/is-dunyasi/" class="text-xl leading-[1.8]">İş Dünyası</a></li>
                            <li class="text-xl tablet:text-[0.9em] tablet:leading-[1.1] font-normal text-text-gray tablet:text-white px-[1.5em] py-[1em] relative cursor-pointer desktop:after:bg-sub-menu-border desktop:after:h-[1px] desktop:after:block desktop:after:absolute desktop:after:bottom-0 desktop:after:left-[1.5em] desktop:after:right-[1.5em] desktop:hover:shadow-[inset_5px_0_0_0_#e62b34] desktop:hover:text-flag-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/seyahat/" class="text-xl leading-[1.8]">Seyahat</a></li>
                            <li class="text-xl tablet:text-[0.9em] tablet:leading-[1.1] font-normal text-text-gray tablet:text-white px-[1.5em] py-[1em] relative cursor-pointer desktop:after:bg-sub-menu-border desktop:after:h-[1px] desktop:after:block desktop:after:absolute desktop:after:bottom-0 desktop:after:left-[1.5em] desktop:after:right-[1.5em] desktop:hover:shadow-[inset_5px_0_0_0_#e62b34] desktop:hover:text-flag-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/sinema/" class="text-xl leading-[1.8]">Sinema</a></li>
                        </ul>
                    </li>
                    <li id="navMenuItem" class="pr-[50px] tablet:pr-0">
                        <a href="hakkımızda.html" class=" text-text-gray tablet:text-white text-medium leading-[90px] relative block hover:text-flag-red transition-color ease-linear duration-100 tablet:py-[1em] tablet:px-[2em] tablet:leading-[1.1] redLine tablet:after:h-0">Hakkımızda</a>
                    </li>
                    <li id="navMenuItem" class="pr-[50px] tablet:pr-0">
                        <a href="iletisim.html" class=" text-text-gray tablet:text-white text-medium leading-[90px] relative block hover:text-flag-red transition-color ease-linear duration-100 tablet:py-[1em] tablet:px-[2em] tablet:leading-[1.1]">İletişim</a>
                    </li>
                    <li id="navMenuItem" class="relative pr-[50px] tablet:pr-0 tablet:flex tablet:flex-col tablet:items-center tablet:justify-center">
                        <div id="languages" class="text-text-gray tablet:text-white text-medium leading-[90px] relative flex items-center tablet:py-[1em] tablet:px-[2em] tablet:leading-[1.1]">
                            <img class="" src="https://ekonomikosesi.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/tr.png" alt="">
                            <a href="" class="ml-1 hover:text-flag-red transition-color ease-linear duration-100 tooltip">Türkçe
                                <span class="fixed text-text-gray bg-white text-[10px] p-[7px] h-[20px] items-center justify-center border-t border-l border-r border-text-gray hidden">Türkçe</span>   
                            </a>  
                            <i id="languageSubToggleMobile" class='bx bx-chevron-down w-[10px] absolute right-[-25px] hidden tablet:block'></i>
                        </div>
                        <ul id="languageSubMenu" class="absolute tablet:relative tablet:hidden tablet:translate-y-[0px] tablet:pointer-events-auto tablet:text-center tablet:bg-transparent tablet:shadow-none top-auto bg-white w-[220px] left-auto right-0 transition-all ease duration-500 translate-y-[20px] desktop:opacity-0 pointer-events-none shadow-[0_0_20px_rgba(0,0,0,0.6)]">
                            <li class="text-xl tablet:text-[0.9em] tablet:leading-[1.1] tablet:text-white tablet:flex tablet:justify-center tablet:items-center font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-flag-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/magazin/" class="text-xl leading-[1.8] flex items-center"><img src="https://ekonomikosesi.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/en.png" alt=""><span class="ml-1">English (İngilizce)</span></a></li>
                            <li class="text-xl tablet:text-[0.9em] tablet:leading-[1.1] tablet:text-white tablet:flex tablet:justify-center tablet:items-center font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-flag-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/dunya/" class="text-xl leading-[1.8] flex items-center"><img src="https://ekonomikosesi.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/fr.png" alt=""><span class="ml-1">Français (Fransızca)</span></a></li>
                        </ul>
                    </li>
                 
                </ul>
                <div class="tablet:border-b tablet:w-full tablet:border-b-border-color flex justify-center items-center tablet:mt-[3em]">
                    <i id="searchIcon" class='bx bx-search text-text-gray tablet:text-white w-[14px] block cursor-pointer hover:text-vivid-red transition-all ease-linear duration-100 tablet:pb-[5px]'></i>
                </div>
            </div>
        </div>
    </nav>
    <div id="searchDiv" class="fixed top-0 w-full h-[100vh] bg-white z-50 flex justify-center items-center transition-all duration-1000 opacity-0 translate-y-[100%]">
        <div class="relative w-[1200px] h-full tablet:w-full flex justify-center items-center">
            <i id="searchCloseIcon" class='pe-7s-close absolute top-[10px] right-0 text-[90px] text-flag-red cursor-pointer hover:rotate-180 hover:text-vivid-red transition-all'></i>
            <div class="flex items-center justify-between border-2 border-sub-menu-border rounded-full py-[1em] pr-[1em] mx-[2rem]">
                <input type="text" class="w-[992px] tablet:w-[90%] text-[3em] font-light h-full rounded-full outline-none px-[1em] " placeholder="Arıyor...">
                <button type="submit"><i class='bx bx-search text-sub-menu-border text-[4em] cursor-pointer hover:text-flag-red transition-all'></i></button>
            </div>
        </div>
    </div>
    <div class="mx-auto w-[1200px] tablet:w-full py-[60px] tablet:px-[20px] relative border-b border-b-[rgba(0,0,0,.2)]">
        <div class="mb-[0.5rem] flex items-center">
            <a href="" class="text-text-gray text-[1.1rem] uppercase flex items-center font-light hover:text-flag-red transition-colors">Ev</a>
        </div>
        <h1 class="text-flag-red text-[40px] font-bold leading-[1.1]">Hakkımızda</h1>
    </div>
    <div class="">
        <div class="mx-auto w-[1200px] pt-[3em] pb-[2em] flex items-start tablet:flex-col tablet:w-full relative">
            <div class="w-[50%] tablet:w-full pr-[20px] tablet:px-[20px] mb-[2em]">
                <p class="mb-[1em] text-[15px] text-text-gray leading-[1.8] font-normal">Ekonomi Köşesi, uluslar arası networke sahip, online itibar yönetimi hizmeti veren bir özel şirkete ait internet sitesidir. Hizmetlerinin temelini her zaman müşteri memnuniyeti ve güven ilkeleri üzerine kuran bu şirket Türkiye’deki faaliyetlerine 2013 sonunda başlamıştır. Ürün skalasının genişliği ile markalara ve kişilere online itibar yönetimi konusunda eksiksiz hizmet vermektedir.</p>
                <p class="mb-[1em] text-[15px] text-text-gray leading-[1.8] font-normal">Hiç şüphe yok ki dijital alan giderek kalabalıklaşmaktadır ve her gün sayısız dijital içerik okuyucuların dikkatini çekmek için yarışmaktadır.</p>
                <p class="text-[15px] text-text-gray leading-[1.8] font-normal">Arama motorlarının siber robotları 24 saat iş başındadır. Hiç durmadan belli algoritmalara göre hakkınızda anahtar kelime veya görseller toplayıp endeksler ve yayınlarlar. O yüzden sizi yansıtan, ilgi çeken bir dijital itibar yaratmak için her bir kelimenin, görselin ve videonun çok dikkatle seçilmesi ve yapılandırılması gerekir.</p>
            </div>
            <div class="w-[50%] tablet:w-full pl-[20px] tablet:px-[20px]">
               <img class="w-full" src="https://ekonomikosesi.com/wp-content/uploads/2018/03/about-us-inner-640x427.jpg" alt="https://ekonomikosesi.com/wp-content/uploads/2018/03/about-us-inner-640x427.jpg" title="about-us-inner">
            </div>
        </div>
    </div>
    <footer class="bg-footer-bg-color">
        <div class="mx-auto w-[1200px] flex flex-col tablet:w-full pt-[8em] relative font-light">
            <div class="flex tablet:flex-col">
                <div class="w-[33%] tablet:w-full px-[20px] mb-[6em]">
                    <img class="w-full" src="https://ekonomikosesi.com/wp-content/uploads/2023/01/Yeni-Proje.png" alt="Yeni Proje" title="Yeni Proje">
                    <p class="text-white text-xl font-light leading-[1.8]">Ekonomi Köşesi, uluslar arası networke sahip, online itibar yönetimi hizmeti veren bir özel şirkete ait internet sitesidir. Hizmetlerinin temelini her zaman müşteri memnuniyeti ve güven ilkeleri üzerine kuran bu şirket Türkiye’deki faaliyetlerine 2013 sonunda başlamıştır. Ürün skalasının genişliği ile markalara ve kişilere online itibar yönetimi konusunda eksiksiz hizmet vermektedir.</p>
                </div>
                <div class="w-[33%] tablet:w-full px-[20px] mb-[6em] flex flex-col">
                    <p class="text-flag-red uppercase text-[1em] font-medium mb-[2em] tracking-[2px]">Categories</p>
                    <a href="https://ekonomikosesi.com/magazin/" class="text-white text-[1em] py-[0.8em] leading-[1.8] font-light border-b border-b-border-color hover:text-flag-red transition-all duration-300">Magazin</a>
                    <a href="https://ekonomikosesi.com/dunya/" class="text-white text-[1em] py-[0.8em] leading-[1.8] font-light border-b border-b-border-color hover:text-flag-red transition-all duration-300">Dünya</a>
                    <a href="https://ekonomikosesi.com/spor/" class="text-white text-[1em] py-[0.8em] leading-[1.8] font-light border-b border-b-border-color hover:text-flag-red transition-all duration-300">Spor</a>
                </div>
                <div class="w-[33%] tablet:w-full px-[20px] mb-[6em]">
                    <p class="text-flag-red uppercase text-[1em] font-medium mb-[2em] tracking-[2px]">ADS</p>
                    <a href="https://www.blackrock.com/corporate" target="_blank">
                        <img src="https://ekonomikosesi.com/wp-content/uploads/2023/01/ads.jpg" alt="Industrial WordPress Theme">
                    </a>
                </div>
            </div>
            <div class="py-[2em] border-t border-t-border-color">
                <p class="text-white text-xl px-[20px] bigger-phone:text-center font-normal leading-[1.8]">Magazine, 2018 © Tüm Hakkı Saklıdır...</p>
            </div>
        </div>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="../javascript/navbar.js"></script>
  <script src="../javascript/tooltip.js"></script>
</body>
</html>
