<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="
    https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css
    " rel="stylesheet">
    <title>İletişim</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/output.css">
</head>
<body>
    <nav id="navbar" class="mx-auto w-full h-[90px] tablet:h-[54px] tablet:animate-none borber-b border-border-color sticky top-0 z-50 flex justify-center items-center transition-all duration-500 ">
        <div class="h-full tablet:w-[100%] w-[1200px] mx-auto flex tablet:justify-start justify-between items-center border-b border-b-[rgba(0,0,0,.2)] ">
            <div id="menuToggle" class="tablet:grid top-[15px] z-10 w-auto hidden mx-5 left-[320px] phone-sm:left-[70vw]"> 
                <input type="checkbox" class="block w-[40px] h-[32px] absolute cursor-pointer opacity-0 z-20">
                <div id="closeMenu" class="fixed w-[100vw] h-[100vh] z-0 top-[-50px] left-0 content hidden"></div>
                 <span class="block w-[27px] h-[2px] relative bg-text-gray z-1 navMenuToggle hover:bg-vivid-red"></span> 
                 <span class="block w-[27px] h-[2px] mt-2 relative bg-text-gray z-1 navMenuToggle hover:bg-vivid-red hover:mt-3"></span> 
                 <span class="block w-[27px] h-[2px] mt-2 relative bg-text-gray z-1 navMenuToggle hover:bg-vivid-red hover:mt-3"></span> 
            </div>
            <a href="https://ekonomikosesi.com/" id="navHeader" class="font-extrabold text-2xl text-text-gray no-underline hover:text-vivid-red transition-colors ease-linear duration-100 phone-sm:text-[8vw]">Ekonomi Köşesi</a>
            <ul id="navMenu" class="items-center justify-between w-[840px] pl-[50px] pr-[20px] tablet:hidden flex">
                <li id="navMenuItem" class="">
                    <a href="" class=" text-text-gray text-medium leading-[90px] relative block hover:text-vivid-red transition-color ease-linear duration-100">Ana Sayfa</a>
                </li>
                <li id="navMenuItem" class="">
                    <a href="" class=" text-text-gray text-medium leading-[90px] relative block hover:text-vivid-red transition-color ease-linear duration-100">Gazete Manşetleri</a>
                </li>
                <li id="navMenuItem" class="">
                    <a href="" class=" text-text-gray text-medium leading-[90px] relative flex items-center">
                        <span class="hover:text-vivid-red transition-color ease-linear duration-100">Haberler</span>
                        <i id="newsSubToggle" class='bx bx-chevron-down w-[10px] ml-1'></i>
                    </a>
                    <ul id="newsSubMenu" class="absolute top-auto bg-white w-[220px] transition-all ease duration-500 translate-y-[20px] opacity-0 pointer-events-none shadow-[0_0_20px_rgba(0,0,0,0.6)]">
                        <li class="text-xl font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-vivid-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/magazin/" class="text-xl leading-[1.8]">Magazin</a></li>
                        <li class="text-xl font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-vivid-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/dunya/" class="text-xl leading-[1.8]">Dünya</a></li>
                        <li class="text-xl font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-vivid-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/spor/" class="text-xl leading-[1.8]">Spor</a></li>
                        <li class="text-xl font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-vivid-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/egitim/" class="text-xl leading-[1.8]">Eğitim</a></li>
                        <li class="text-xl font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-vivid-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/ekonomi/" class="text-xl leading-[1.8]">Ekonomi</a></li>
                        <li class="text-xl font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-vivid-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/finans/" class="text-xl leading-[1.8]">Finans</a></li>
                        <li class="text-xl font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-vivid-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/genel/" class="text-xl leading-[1.8]">Genel</a></li>
                        <li class="text-xl font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-vivid-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/is-dunyasi/" class="text-xl leading-[1.8]">İş Dünyası</a></li>
                        <li class="text-xl font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-vivid-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/seyahat/" class="text-xl leading-[1.8]">Seyahat</a></li>
                        <li class="text-xl font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-vivid-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/sinema/" class="text-xl leading-[1.8]">Sinema</a></li>
                    </ul>
                </li>
                <li id="navMenuItem" class="">
                    <a href="" class=" text-text-gray text-medium leading-[90px] relative block hover:text-vivid-red transition-color ease-linear duration-100">Hakkımızda</a>
                </li>
                <li id="navMenuItem" class="">
                    <a href="" class=" text-text-gray text-medium leading-[90px] relative block hover:text-vivid-red transition-color ease-linear duration-100 border-b-4 border-b-flag-red">İletişim</a>
                </li>
                <li id="navMenuItem" class="relative">
                    <a href=""class="text-text-gray text-medium leading-[90px] relative flex items-center"><img class="" src="https://ekonomikosesi.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/tr.png" alt=""><span class="ml-1 hover:text-vivid-red transition-color ease-linear duration-100">Türkçe</span><i id="languageSubToggle" class='bx bx-chevron-down w-[10px] ml-1'></i></a>
                    <ul id="languageSubMenu" class="absolute top-auto bg-white w-[220px] left-auto right-0 transition-all ease duration-500 translate-y-[20px] opacity-0 pointer-events-none shadow-[0_0_20px_rgba(0,0,0,0.6)]">
                        <li class="text-xl font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-vivid-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/magazin/" class="text-xl leading-[1.8] flex items-center"><img src="https://ekonomikosesi.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/en.png" alt=""><span class="ml-1">English (İngilizce)</span></a></li>
                        <li class="text-xl font-normal text-text-gray px-[1.5em] py-[1em] relative cursor-pointer after:bg-sub-menu-border after:h-[1px] after:block after:absolute after:bottom-0 after:left-[1.5em] after:right-[1.5em] hover:shadow-[inset_5px_0_0_0_#e62b34] hover:text-vivid-red transition-color ease transition-shadow duration-300"><a href="https://ekonomikosesi.com/dunya/" class="text-xl leading-[1.8] flex items-center"><img src="https://ekonomikosesi.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/fr.png" alt=""><span class="ml-1">Français (Fransızca)</span></a></li>
                    </ul>
                </li>
            </ul>
            <i id="searchIcon" class='bx bx-search text-text-gray w-[14px]  tablet:hidden block cursor-pointer'></i>
            <nav id="mobileNav" class="fixed z-50 h-[100%] w-[320px] phone-sm:w-[74vw] top-0 left-0 px-[20px] flex flex-col items-center justify-start bg-mobile-menu-bg text-center overflow-y-auto overflow-x-hidden translate-x-[-100%] transition-transform duration-1000 ease-in-expo">
                <a href="https://ekonomikosesi.com/" class="font-extrabold text-2xl leading-[54px] px-[2em] pb-[0.5em] text-white no-underline hover:text-vivid-red transition-colors ease-linear duration-100 text-center">Ekonomi <br> Köşesi</a>
                <ul class="flex items-center flex-col before:w-[85px] before:h-[4px] before:bg-vivid-red before:my-[1em] after:w-[85px] after:h-[4px] after:bg-vivid-red after:my-[1em]">
                    <li class="">
                        <a href="" class="text-white text-medium px-[2em] py-[1em] font-semibold relative block hover:text-vivid-red transition-color ease-linear duration-100">Ana Sayfa</a>
                    </li>
                    <li class="">
                        <a href="" class="text-white text-medium px-[2em] py-[1em] relative block hover:text-vivid-red transition-color ease-linear duration-100">Gazete Manşetleri</a>
                    </li>
                    <li class="">
                        <a href="" class="text-white text-medium px-[2em] py-[1em] flex items-center justify-center">
                            <span class="hover:text-vivid-red transition-color ease-linear duration-100 ml-1">Haberler</span>
                            <i id="newsSubToggleMobile" class="bx bx-chevron-down w-[10px] absolute right-[25px]"></i>
                        </a>
                        <ul id="newsSubMenuMobile" class="top-auto transition-height flex-col items-center ease duration-500 h-[0px] hidden">
                            <li class="text-xl font-normal text-white px-[1.5em] py-[1em] relative cursor-pointer"><a href="https://ekonomikosesi.com/magazin/" class="text-xl leading-[1.8]">Magazin</a></li>
                            <li class="text-xl font-normal text-white px-[1.5em] py-[1em] relative cursor-pointer"><a href="https://ekonomikosesi.com/dunya/" class="text-xl leading-[1.8]">Dünya</a></li>
                            <li class="text-xl font-normal text-white px-[1.5em] py-[1em] relative cursor-pointer"><a href="https://ekonomikosesi.com/spor/" class="text-xl leading-[1.8]">Spor</a></li>
                            <li class="text-xl font-normal text-white px-[1.5em] py-[1em] relative cursor-pointer"><a href="https://ekonomikosesi.com/egitim/" class="text-xl leading-[1.8]">Eğitim</a></li>
                            <li class="text-xl font-normal text-white px-[1.5em] py-[1em] relative cursor-pointer"><a href="https://ekonomikosesi.com/ekonomi/" class="text-xl leading-[1.8]">Ekonomi</a></li>
                            <li class="text-xl font-normal text-white px-[1.5em] py-[1em] relative cursor-pointer"><a href="https://ekonomikosesi.com/finans/" class="text-xl leading-[1.8]">Finans</a></li>
                            <li class="text-xl font-normal text-white px-[1.5em] py-[1em] relative cursor-pointer"><a href="https://ekonomikosesi.com/genel/" class="text-xl leading-[1.8]">Genel</a></li>
                            <li class="text-xl font-normal text-white px-[1.5em] py-[1em] relative cursor-pointer"><a href="https://ekonomikosesi.com/is-dunyasi/" class="text-xl leading-[1.8]">İş Dünyası</a></li>
                            <li class="text-xl font-normal text-white px-[1.5em] py-[1em] relative cursor-pointer"><a href="https://ekonomikosesi.com/seyahat/" class="text-xl leading-[1.8]">Seyahat</a></li>
                            <li class="text-xl font-normal text-white px-[1.5em] py-[1em] relative cursor-pointer"><a href="https://ekonomikosesi.com/sinema/" class="text-xl leading-[1.8]">Sinema</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="" class="text-white text-medium px-[2em] py-[1em] relative block hover:text-vivid-red transition-color ease-linear duration-100">Hakkımızda</a>
                    </li>
                    <li class="">
                        <a href="" class="text-white text-medium px-[2em] py-[1em] relative block hover:text-vivid-red transition-color ease-linear duration-100">İletişim</a>
                    </li>
                    <li class="">
                        <a href="" class="text-white text-medium px-[2em] py-[1em] flex items-center justify-center">
                            <img class="w-[20px]" src="https://ekonomikosesi.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/tr.png" alt="">
                            <span class="hover:text-vivid-red transition-color ease-linear duration-100 ml-1">Türkçe</span>
                            <i id="languageSubToggleMobile" class='bx bx-chevron-down w-[10px] absolute right-[25px]'></i>
                        </a>
                        <ul id="languageSubMenuMobile" class="top-auto transition-height flex-col items-center ease duration-500 h-[0px] hidden">
                            <li class="text-xl font-normal text-white text-center px-[1.5em] py-[1em] relative cursor-pointer"><a href="https://ekonomikosesi.com/magazin/" class="text-xl leading-[1.8] flex items-center"><img src="https://ekonomikosesi.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/en.png" alt=""><span class="ml-1">English (İngilizce)</span></a></li>
                            <li class="text-xl font-normal text-white text-center px-[1.5em] py-[1em] relative cursor-pointer"><a href="https://ekonomikosesi.com/dunya/" class="text-xl leading-[1.8] flex items-center"><img src="https://ekonomikosesi.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/fr.png" alt=""><span class="ml-1">Français (Fransızca)</span></a></li>
                        </ul>
                    </li>
                </ul>
                <div class="border-b w-full border-b-border-color">
                    <i id="searchIconMobil" class='bx bx-search text-white w-[14px] mt-[3em]'></i>
                </div>
                
            </nav>
        </div>
    </nav>
    <div id="searchDiv" class="fixed top-0 w-full h-[100vh] bg-white z-50 flex justify-center items-center transition-all duration-1000 opacity-0 translate-y-[100%]">
        <div class="relative w-[1200px] h-full tablet:w-full flex justify-center items-center">
            <i id="searchCloseIcon" class='pe-7s-close absolute top-[10px] right-0 text-[90px] text-flag-red cursor-pointer hover:rotate-180 hover:text-vivid-red transition-all'></i>
            <div class="flex items-center justify-between border-2 border-sub-menu-border rounded-full py-[1em] pr-[1em] mx-[2rem]">
                <input type="text" class="w-[992px] tablet:w-[90%] text-[3em] font-light h-full rounded-full outline-none px-[1em] " placeholder="Arıyor...">
                <button type="submit"><i class='bx bx-search text-sub-menu-border text-[4em] cursor-pointer hover:text-flag-red transition-all'></i></button>
            </div>
        </div>
    </div>
    <div class="mx-auto w-[1200px] tablet:w-full py-[60px] tablet:px-[20px] relative border-b border-b-[rgba(0,0,0,.2)]">
        <div class="mb-[0.5rem] flex items-center">
            <a href="" class="text-text-gray text-[1.1rem] uppercase flex items-center font-light hover:text-flag-red transition-colors">Ev</a>
        </div>
        <h1 class="text-flag-red text-[40px] font-bold leading-[1.1]">İletişim</h1>
    </div>
    <div class="">
        <div class="mx-auto w-[1200px] pt-[3em] pb-[2em] flex items-start tablet:flex-col tablet:w-full relative">
            <div class="w-[50%] tablet:w-full px-[20px] mb-[2em]">
               <p class="text-[0.8rem] mb-[0.5rem] font-light text-text-gray uppercase leading-[1.8]">NEWS MAGAZINE</p>
               <p class="text-[3rem] bigger-phone:text-[2rem] mb-[0.5rem] font-bold leading-[1.1] text-text-gray flex flex-col justify-center after:w-[45px] after:h-[2px] after:bg-flag-red after:mt-[0.4em] after:mb-[0.2em]">Boston, USA</p>
               <p class="text-text-gray text-[1em] mt-[0.5rem] mb-[2rem] font-normal leading-[1.8]">For help with a technical problem relating to our magazine or our apps please visit our Customer Services Helpdesk. Help with any matters about subscriptions.</p>
               <div class="flex items-center justify-center bigger-phone:flex-col bigger-phone:items-start">
                <div class="w-[50%] bigger-phone:w-full">
                    <div class="flex items-start mb-[2em]">
                        <i class="pe-7s-mail-open text-[2.8rem]"></i> 
                        <div class="ml-[1em]">
                            <p class="text-[1.1em] text-text-gray font-semibold leading-[1.8]">Email</p>
                            <p class="text-[1em] text-text-gray font-normal leading-[1.8]">contact@bold-themes.com <br> info@bold-themes.com</p>
                        </div>
                    </div>
                    <div class="flex items-start">
                        <i class="pe-7s-clock text-[2.8rem]"></i> 
                        <div class="ml-[1em]">
                            <p class="text-[1.1em] text-text-gray font-semibold leading-[1.8]">Working hours</p>
                            <p class="text-[1em] text-text-gray font-normal leading-[1.8]">Mon-Sat: 08AM - 086PM <br> Sun: Closed</p>
                        </div>
                    </div>
                </div>
                <div class="w-[50%] bigger-phone:w-full pl-[20px] bigger-phone:pl-0 bigger-phone:mt-[2em]">
                    <div class="flex items-start mb-[2em]">
                        <i class="pe-7s-map-marker text-[2.8rem]"></i> 
                        <div class="ml-[1em]">
                            <p class="text-[1.1em] text-text-gray font-semibold leading-[1.8]">Address</p>
                            <p class="text-[1em] text-text-gray font-normal leading-[1.8]">41 Union St, <br> Boston, MA 02108</p>
                        </div>
                    </div>
                    <div class="flex items-start">
                        <i class="pe-7s-phone text-[2.8rem]"></i> 
                        <div class="ml-[1em]">
                            <p class="text-[1.1em] text-text-gray font-semibold leading-[1.8]">Phone</p>
                            <p class="text-[1em] text-text-gray font-normal leading-[1.8]">+99 235 854 855 <br> +99 235 854 787</p>
                        </div>
                    </div>
                </div> 
               </div>
            </div>
            <div class="w-[50%] tablet:w-full px-[20px]">
                <iframe class="mb-[2rem]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.1173321860424!2d-71.05899938349674!3d42.36133867918685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37085f407df69%3A0x7bffbf745f74444a!2s41%20Union%20St%2C%20Boston%2C%20MA%2002108%2C%20Amerika%20Birle%C5%9Fik%20Devletleri!5e0!3m2!1str!2str!4v1677487533276!5m2!1str!2str" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="bg-secondary-gray">
        <div class="mx-auto w-[1200px] pt-[3em] pb-[2em] flex items-start tablet:flex-col tablet:w-full relative">
            <div class="w-[50%] tablet:w-full px-[20px] mb-[2em]">
                <p class="text-[0.8rem] mb-[0.5rem] font-light text-text-gray uppercase leading-[1.8]">SAY HELLO</p>
                <p class="text-[3rem] bigger-phone:text-[2rem] mb-[0.5rem] font-bold leading-[1.1] text-text-gray flex flex-col justify-center after:w-[45px] after:h-[2px] after:bg-flag-red after:mt-[0.4em] after:mb-[0.2em]">Contact Us</p>
                <p class="text-text-gray text-[1em] mt-[0.5rem] mb-[2rem] font-normal leading-[1.8]">We work hard to answer queries and ensure your experience of The Magazine is as good as we can possibly make it. On this page you can find out how to contact us. If you have a story you think we might be interested to know about please email our news team and we get back to you asap.</p>
                <div class="flex items-center pt-[1em]">
                    <a href="https://www.facebook.com/boldthemes/" class="border-flag-red border-[1.5px] mr-[0.5em] rounded-full">
                        <span class="socialMediaIcon w-[33px] h-[33px] bg-white rounded-full flex items-center justify-center text-white hover:text-flag-red hover:before:scale-0 hover:before:transition-all before:duration-300 before:w-[33px] before:h-[33px] before:rounded-full before:bg-flag-red before:flex before:justify-center before:items-center">
                            <i class="bx bxl-facebook text-[1.3em] transition-all absolute"></i>
                        </span>
                    </a>
                    <a href="https://twitter.com/bold_themes" class="border-flag-red border-[1.5px] mr-[0.5em] rounded-full">
                        <span class="socialMediaIcon w-[33px] h-[33px] bg-white rounded-full flex items-center justify-center text-white hover:text-flag-red hover:before:scale-0 hover:before:transition-all before:duration-300 before:w-[33px] before:h-[33px] before:rounded-full before:bg-flag-red before:flex before:justify-center before:items-center">
                            <i class="bx bxl-twitter text-[1.3em] transition-all absolute"></i>
                        </span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCPL5LgX32KsbQ1i9nV-xiKA" class="border-flag-red border-[1.5px] mr-[0.5em] rounded-full">
                        <span class="socialMediaIcon w-[33px] h-[33px] bg-white rounded-full flex items-center justify-center text-white hover:text-flag-red hover:before:scale-0 hover:before:transition-all before:duration-300 before:w-[33px] before:h-[33px] before:rounded-full before:bg-flag-red before:flex before:justify-center before:items-center">
                            <i class="bx bxl-youtube text-[1.3em] transition-all absolute"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="w-[50%] tablet:w-full px-[20px]">
                <div class="flex flex-col">
                    <label for=""  class="text-text-gray leading-[1.8] font-normal text-[1em]">Your Name</label>
                    <input type="text" id="name" name="" class="bg-transparent border border-[rgba(0,0,0,.1)] outline-none p-[0.8em] leading-[1] h-[3.2em] w-full transition-all duration-500 ease-in focus:shadow-[0px_0px_7px_0px_#E62B34] focus:outline-1 focus:outline-text-gray mb-[1em]">
                    <span class="text-flag-red text-[1em] mb-[1em] hidden" id="nameErrorMessage">Please fill out this field.</span>
                    <label for="" class="text-text-gray leading-[1.8] font-normal text-[1em]">Your email</label>
                    <input type="text" name="" id="email" class="bg-transparent border border-[rgba(0,0,0,.1)] outline-none p-[0.8em] leading-[1] h-[3.2em] w-full transition-all duration-500 ease-in focus:shadow-[0px_0px_7px_0px_#E62B34] focus:outline-1 focus:outline-text-gray mb-[1em]">
                    <span class="text-flag-red text-[1em] mb-[1em] hidden" id="emailErrorMessage">Please fill out this field.</span>
                    <label for="" class="text-text-gray leading-[1.8] font-normal text-[1em]">Subject</label>
                    <input type="text" name="" id="subject" class="bg-transparent border border-[rgba(0,0,0,.1)] outline-none p-[0.8em] leading-[1] h-[3.2em] w-full transition-all duration-500 ease-in focus:shadow-[0px_0px_7px_0px_#E62B34] focus:outline-1 focus:outline-text-gray mb-[1em]">
                    <span class="text-flag-red text-[1em] mb-[1em] hidden" id="subjectErrorMessage">Please fill out this field.</span>
                    <label for="" class="text-text-gray leading-[1.8] font-normal text-[1em]">Your message (optional)</label>
                    <textarea rows="4" cols="50" class="h-[290px] bg-transparent border border-[rgba(0,0,0,.1)] outline-none p-[0.8em] leading-[1] w-full transition-all duration-500 ease-in focus:shadow-[0px_0px_7px_0px_#E62B34] focus:outline-1 focus:outline-text-gray mb-[1em]"></textarea>
                    <div class="flex items-center relative">
                        <button id="submitButton" type="submit" class="border-flag-red border-[1.5px] rounded-[50px]">
                            <span class="socialMediaIcon w-[140px] h-[40px] bg-transparent rounded-[50px] flex items-center justify-center text-white hover:text-flag-red hover:before:scale-0 hover:before:transition-all before:duration-300 before:w-[140px] before:h-[40px] before:rounded-[50px] before:bg-flag-red before:flex before:justify-center before:items-center">
                               <span class="absolute flex items-center w-full justify-center px-[2em] uppercase text-[0.8em] font-normal">Submit</span>
                            </span>
                        </button>
                    </div>
                    <span class="border-[#ffb900] border-2 py-[0.2em] px-[1em] text-[1em] text-text-gray mt-[3em] mb-[2em]">One or more fields have an error. Please check and try again.</span>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-footer-bg-color">
        <div class="mx-auto w-[1200px] flex flex-col tablet:w-full pt-[8em] relative font-light">
            <div class="flex bigger-phone:flex-col">
                <div class="w-[33%] bigger-phone:w-full px-[20px] mb-[6em]">
                    <img class="w-full" src="https://ekonomikosesi.com/wp-content/uploads/2023/01/Yeni-Proje.png" alt="Yeni Proje" title="Yeni Proje">
                    <p class="text-white text-xl">Ekonomi Köşesi, uluslar arası networke sahip, online itibar yönetimi hizmeti veren bir özel şirkete ait internet sitesidir. Hizmetlerinin temelini her zaman müşteri memnuniyeti ve güven ilkeleri üzerine kuran bu şirket Türkiye’deki faaliyetlerine 2013 sonunda başlamıştır. Ürün skalasının genişliği ile markalara ve kişilere online itibar yönetimi konusunda eksiksiz hizmet vermektedir.</p>
                </div>
                <div class="w-[33%] bigger-phone:w-full px-[20px] mb-[6em]">
                    <p class="text-flag-red uppercase text-[1em] font-medium mb-[2em]">Categories</p>
                    <p class="text-white text-[1em] py-[0.8em] border-b border-b-border-color">Magazin</p>
                    <p class="text-white text-[1em] py-[0.8em] border-b border-b-border-color">Dünya</p>
                    <p class="text-white text-[1em] py-[0.8em] border-b border-b-border-color">Spor</p>
                </div>
                <div class="w-[33%] bigger-phone:w-full px-[20px] mb-[6em]">
                    <p class="text-flag-red uppercase text-[1em] font-medium mb-[2em]">ADS</p>
                    <img src="https://ekonomikosesi.com/wp-content/uploads/2023/01/ads.jpg" alt="Industrial WordPress Theme">
                </div>
            </div>
            <div class="py-[2em] border-t border-t-border-color">
                <p class="text-white text-xl px-[20px] bigger-phone:text-center">Magazine, 2018 © Tüm Hakkı Saklıdır...</p>
            </div>
        </div>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="../javascript/script.js"></script>
</body>
</html>
